# ПОДКЛЮЧЕНИЕ К БДД (НЕ МЕНЯТЬ!)
ConnectionStrings__VkVideoReviews=Host=postgres;Port=5432;Database=VKVideoReviews;Username=postgres;Password=P@ssw0rd

# VK АВТОРИЗАЦИЯ
# Получить ключи: https://id.vk.com/about/business и справа вверху кнопка "подключить VK ID"
VkKeys__ClientId=YOUR_CLIENT_ID
VkKeys__ProtectedKey=YOUR_PROTECTED_KEY
VkKeys__ServiceKey=YOUR_SERVICE_KEY

# JWT ТОКЕНЫ
Jwt__Secret=YOUR_SECRET_KEY_AT_LEAST_32_CHARACTERS_LONG
Jwt__Issuer=VKVideoReviews
Jwt__Audience=VKVideoReviews
Jwt__AccessTokenLifetimeMinutes=60
Jwt__RefreshTokenLifetimeDays=180

# АДМИНИСТРАТОР
# Ваш id в ВК (число).
AdminVkUserIds__0=YOUR_VK_USER_ID

# ШИФРОВАНИЕ
EncryptionKey=YOUR_BASE64_ENCRYPTION_KEY